body {
	background: url(C:/Users/jaspe/Desktop/Gradient.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

.nav ul {
  list-style: none;
  background-color: rgba();
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
 
.nav a {
  text-decoration: none;
  color: #FFF;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: rgba(29, 187, 255, 0.5);
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


#vliegtuig {
	float: left;
	margin-left: 50px;
	width: 300px;
	height: auto;
	
}

#header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;

}

h1 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
 
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

